<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">
  <targets>
    <target xsi:type="ColoredConsole" name="console"
            layout="${date:format=HH\:mm\:ss.ff} ${logger:shortName=true:padding=17} ${level:uppercase=true:padding=5}: ${message} ${exception:format=tostring,data}">
    </target>
    <target xsi:type="Trace" name="tracer"
            layout="[${date:format=yyyyMMdd HH\:mm\:ss.fff}] [${threadid}] [${logger}] [${level:uppercase=true}] ${message} ${exception:format=tostring,data}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="tracer" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>
